.settings-screen__main {
    align-items: center;
    -unity-font-definition: url("project://database/Assets/Plugins/Feel/MMTools/Demos/MMTween/Fonts/Lato/TTF/Lato-Regular.ttf?fileID=12800000&guid=5686e06ef14cf104b8e282ee7c41b9a6&type=3#Lato-Regular");
}

.settings-screen__ui-container {
    min-width: 600px;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
    -unity-font-definition: url("project://database/Assets/Plugins/Feel/MMTools/Demos/MMTween/Fonts/Lato/TTF/Lato-Regular.ttf?fileID=12800000&guid=5686e06ef14cf104b8e282ee7c41b9a6&type=3#Lato-Regular");
}

.settings-screen__title {
    font-size: 36px;
    -unity-font-definition: url("project://database/Assets/Plugins/Feel/MMTools/Demos/MMTween/Fonts/Lato/TTF/Lato-Black.ttf?fileID=12800000&guid=462a5605cd4f4de48821603c760ce4a6&type=3#Lato-Black");
}

.settings-screen__volume-slider .unity-base-slider__tracker {
    height: 6px;
    background-color: var(--color-white);
    -unity-font-definition: url("project://database/Assets/Plugins/Feel/MMTools/Demos/MMTween/Fonts/Lato/TTF/Lato-Regular.ttf?fileID=12800000&guid=5686e06ef14cf104b8e282ee7c41b9a6&type=3#Lato-Regular");
}
